@font-face {
  font-family: "Shabnam-bold";
  src: url("../fonts/fa/shabnam-bold/Shabnam-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Style Persian title input */
#po_translation_box input#po_title_fa {
  font-family: "Shabnam-bold", Tahoma, Arial, sans-serif;
  direction: rtl;
  text-align: right;
}

div#po_translation_box > .postbox-header,
div#po_translation_box > .inside,
div#po_translation_box {
  background-color: lightgoldenrodyellow;
}
